.close {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 100;
  padding: 10px;
  position: absolute;
  left: 20px;
  top: 20px;
  outline: none;
}

.submit {
  background: #d4145a;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
  padding: 1em 2em;
  width: 100%;
}

.submit:hover {
  background: #bd104f;
}

.count {
  color: #6a737d;
  font-size: 1rem;
  font-weight: 100;
  text-align: right;
}

.nominees div {
  display: flex;
  flex-direction: column;
}

.heading {
  color: #f6f8fa;
  font-size: 3em;
  font-weight: 100;
}

ul.nominees {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

ul.nominees li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6a737d;
  line-height: 1.6;
  padding: 5px 0;
}

ul.nominees li button {
  background: none;
  border: 1px solid #6a737d;
  color: #6a737d;
  cursor: pointer;
  outline: none;
  padding: 0.5em 1em;
}

ul.nominees li span{
    margin-right: 10px;
}

.nomineeContainer {
  padding: 0% 20% 0 5%;
}
