.btn {
  background: transparent;
  border: 1px solid #6a737d;;
  color: #6a737d;;
  cursor: pointer;
  margin: 5px 0;
  outline: none;
  padding: 5px 15px;
  text-align: center;
  width: 100px;
}

.btn:disabled {
  background: #3d3b44;
  color: #959da5;
}

.card {
  background: linear-gradient(#171742ec, #1f1a40ea 80%);
  padding: 5%;
}

.count {
  color: #6a737d;;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: right;
}

ul.search {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.search li {
  border-bottom: 0.2px solid #6a737d;;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6a737d;;
  line-height: 1.6;
  padding: 10px 0;
}

ul.search li span {
  margin-right: 10px;
}
